---
import Layout from '../layouts/Layout.astro';

import Hero from '../components/section/Hero.astro';
import About from "../components/section/About.astro";
import WorkExpiriece from "../components/section/WorkExpiriece.astro";
import Education from "../components/section/Education.astro";
import Skills from "../components/section/Skills.astro";
import Projects from "../components/section/Project.astro";

---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<About />
		<!-- <WorkExpiriece /> -->
		<Education />
		<Skills /> 
		<Projects />
	</main>
</Layout>

<style>
	
</style>
